tmp/**

/public/**
!/public/user/

!/public/user/blueprints/
/public/user/blueprints/*
!/public/user/blueprints/flex-directory/
!/public/user/blueprints/flex-directory/**

!/public/user/pages/
/public/user/pages/*
!/public/user/pages/flex-directory/
!/public/user/pages/flex-directory/**

!/public/user/directories/
!/public/user/directories/**
/public/user/directories/repositories/**

!/public/user/templates/
!/public/user/templates/**
